body{
	background:lightblue;
}
.left{
	
	float:left;
	width:200;
	height:913;
}
.left:after{
	clear:both;
	content:"";
}
.right{

	float:right;
	width:1068;
	height:613;
}
.left1
{
	width:200;
	height:300;
}
.left2
{
	width:200;
	height:313;
}
.left3
{
	width:200;
	height:300;
}

img
{
	width:180;
	height:200;
}
nav{
	position:fixed;
	background:blue;
	width:100%;
	height:50px;
	z-index:1;
	
}
nav li{
	
	float:right;
	padding:10px;
}

.img23
{
	width:345;
	height:345;
	margin-left:300;
}
.img24
{
	width:180;
	height:200;
	
}

nav #sear
 {

    width: 530px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
#sear:after{
	clear:both;
}
ul{
	list-style-type:none;
}

