#a
{
	margin:30 5 30 5;
	background-color:lightblue;
	width:360;
	height:200;
	
}
#b
{
	margin:30 5 30 5;
	background-color:lightorange;
	width:360;
	height:200;
	
}
#c
{
	margin:30 5 30 5;
	background-color:lightpink;
	width:360;
	height:200;
}
p
{
	margin-left:100px;
	
}